<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <appSettings>
      <!-- Support Config-->
      <add key="strAcadStaffAccount" value="AnhNTT"/>
      <add key="strAcadDepartmentAddress" value="dongnp@fe.edu.vn"/>
      <add key="strInvigilationSupport" value="TrungNB6@fe.edu.vn"/>
      <add key="strCapstoneMarkSupport" value="HaNTV2@fe.edu.vn"/>
      <add key="attendanceChecker1" value="LamPT2@fe.edu.vn"/>
      <add key="attendanceChecker2" value="anhntt3@fe.edu.vn"/>
      <add key="attendanceConfirmName" value="LamPT"/>
      
      <!-- Mail config -->
      <add key="fromMail" value="dongnphe130244@fpt.edu.vn"/>
      <add key="host" value="smtp.gmail.com"/>
      <add key ="port" value="465"/>
      <add key="userName" value="Nguyen Phuong Dong"/>
      <add key="password" value="3HeadHydra3vn"/>
      <add key="defaultCredentials" value="true"/>
    </appSettings>
</configuration>